div#Password-form {
  div.set-password-container {
    grid-template-columns: 125px 222px auto;

    div.password-list {
      grid-template-rows: repeat(3, 1fr);
      align-items: center;
      margin: 20px 0px;
      div.list-div {
        height: 32px;
      }

      span {
        padding-left: 15px;
        font-size: 0.8rem;
        font-weight: bolder;
      }
    }

    div.password-input {
      grid-template-rows: repeat(3, 1fr);
      align-items: center;
      margin: 20px 0px;
      div.input-div {
        height: 32px;
      }
    }

    input {
      padding: 5px 10px;
      width: 200px;
      height: 20px;
      font-size: 1rem;
      border-radius: 5px;
      border: 1px solid #b4b4b4;

      &:focus {
        outline: 0;
        border: 1px solid #666666;
      }
    }

    input.incorrect {
      &:focus {
        outline: 0;
      }
      border: 2px solid #e74c3c;
    }

    div.submit-div {
      justify-items: center;
      align-self: center;
      button {
        margin-left: -5px;
        width: 70px;
        height: 35px;
        background-color: #3ab0ff;
        border: 1px solid #3ab0ff;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: bolder;
        color: #fff;
        outline: 0;
        cursor: pointer;

        &:active {
          background-color: #73c7ff;
          border: 1px solid #73c7ff;
        }
      }
    }
  }
}
