@import './settingForm.scss';

main.Profile {
  width: 600px;

  header {
    margin-top: 50px;
    width: 100%;
    grid-template-columns: 50% 50%;
    justify-items: center;
    align-items: center;

    div.profile-image {
      justify-self: end;
      align-items: center;
      width: 150px;
      height: 150px;
      margin-right: 20px;
      border: 1px solid #b1b1b1;
      border-radius: 50%;
      overflow: hidden;

      img {
        top: 0;
        left: 0;
        width: 150px;
      }
    }

    div.profile-description {
      justify-self: start;
      margin-left: 20px;
      span {
        font-size: 1.5rem;
        font-weight: 600;
      }
    }
  }

  div.category {
    margin-top: 40px;
    width: 100%;
    grid-template-columns: repeat(5, 20%);

    div.category-list {
      justify-items: center;
      width: 100%;
      padding-top: 10px;
      border-top: 2px solid #dddddd;
      cursor: pointer;

      &:hover {
        border-top: 2px solid #000;
        font-weight: bold;
      }

      span {
        font-size: 0.9rem;
      }
    }
  }
}
