main.Feed {
  margin-top: 50px;
  width: 500px;

  article {
    width: 100%;
    margin-bottom: 50px;
    border-radius: 3px;
    border: 1px solid#e6e6e6;
    background-color: #ffffff;

    header {
      align-items: center;
      grid-template-columns: 45px 105px auto;
      padding: 10px;
      border-bottom: 1px solid #e6e6e6;

      .profile-image {
        .image {
          justify-items: center;
          align-items: center;
          width: 35px;
          height: 35px;
          border: 1px solid #f0f0f0;
          border-radius: 50%;
          overflow: hidden;

          img {
            width: 100%;
          }
        }
      }
      .profile-name {
        font-size: 1rem;
        font-weight: 700;
      }

      .period {
        padding-right: 10px;
        justify-items: end;

        span {
          font-size: 0.9rem;
          font-weight: 600;
        }
      }
    }

    .image {
      justify-content: center;

      img {
        width: 100%;
      }
    }

    .cover {
      width: 100%;
      padding: 10px 10px;
      justify-items: left;
      align-items: stretch;

      .content {
        span {
          font-size: 1rem;
        }
      }
    }

    footer {
      width: 100%;
      height: 40px;
      grid-template-columns: 15% 15% auto;
      justify-items: center;
      align-items: center;

      div.button-div {
        width: 100%;
        grid-template-columns: 60% 40%;
        justify-items: center;
        align-items: center;
        div {
          justify-self: end;
          cursor: pointer;
        }

        i.like {
          color: red;
        }

        span {
          margin-left: 10px;
          justify-self: start;
          font-weight: bolder;
          font-size: 0.9rem;
          cursor: pointer;
        }
      }

      div.delete-container {
        padding-right: 20px;
        justify-self: end;
        i {
          cursor: pointer;

          &:hover {
            color: #eb2f06;
          }
        }
      }
    } //footer

    .reply {
      grid-template-columns: 85% 15%;
      border-top: 1px solid #e6e6e6;
      height: 50px;

      .input-form {
        input {
          padding: 15px;
          border: 0px solid white;
          &:focus {
            outline: 0;
          }
        }
      }

      .button-form {
        button {
          font-size: 1rem;
          font-weight: bolder;
          background-color: white;
          border: 0px solid white;
          cursor: pointer;

          &:focus {
            outline: 0;
          }

          &:hover {
            color: rgb(212, 212, 212);
          }
        }
      }
    } //reply
  } // article
} // main
