@import 'headline', 'feed', 'loginForm', 'signupForm', './profile/profile', 'layout', 'postform', './like/like',
  './reply/reply';

html {
  overflow-y: scroll;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 18px;
}

#__next {
  height: 100%;
}

a {
  text-decoration: none;
  color: #000000;
  &:visited {
    color: #000000;
  }
}

div,
nav,
main,
footer,
section,
header,
article {
  display: grid;
  box-sizing: border-box;
}
