main#Signup-form {
  margin-top: 100px;
  width: 350px;

  div.signup-container {
    text-align: center;
    grid-template-rows: 120px auto auto auto;
    overflow: hidden;
    height: 100%;
    padding: 0px 50px;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    background-color: #fff;

    div.title {
      align-items: center;
      span {
        font-size: 3rem;
        font-weight: bold;
      }
    }

    div.input-container {
      margin-top: 10px;
      grid-template-rows: repeat(4, 1fr);
      grid-row-gap: 5px;

      div.input-div {
        input {
          box-sizing: border-box;
          background-color: #eee;
          padding: 12px 15px;
          width: 100%;
          border: none;
          border-radius: 5px;
        }
      }

      .incorrect {
        &:focus {
          outline-color: #e74c3c;
        }
        border: 2px solid #e74c3c;
      }
    }

    div.button-container {
      margin-top: 30px;
      align-items: center;
      justify-items: center;

      button {
        border-radius: 10px;
        border: 1px solid #ff3f34;
        background-color: #ff3f34;
        color: #ffffff;
        font-size: 12px;
        font-weight: bold;
        padding: 12px 45px;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
        cursor: pointer;

        &:active {
          transform: scale(0.95);
        }

        &:focus {
          outline: none;
        }
      }
    }

    div.link-container {
      justify-items: center;
      margin: 10px 0px 20px;
      a {
        font-weight: bold;
        letter-spacing: 0.5px;
        width: 70px;
      }
    }
  }
}
