@import 'headline', 'feed', 'loginForm', 'signupForm', 'profile', 'layout', 'postform';

body {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 18px;
}

#__next {
  height: 100vh;
}

a {
  text-decoration: none;
  &:visited {
    color: black;
  }
}

div,
nav,
main,
footer,
section,
header,
article {
  display: grid;
  box-sizing: border-box;
}
