@import 'headline', 'feed';

body {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 18px;
}

a {
  text-decoration: none;
  &:visited {
    color: black;
  }
}

main {
  justify-content: center;
  background-color: #fcfcfc;
}

article {
  background-color: #ffffff;
}

div,
nav,
main,
footer,
section,
header,
article {
  display: grid;
  box-sizing: border-box;
}
