div#Reply {
  width: 100%;
  height: 100%;
  justify-items: center;
  align-items: center;

  div.reply-container {
    width: 500px;
    height: 500px;
    background-color: #ffffff;
    grid-template-rows: 50px 400px 50px;
    border-radius: 15px;
    overflow: hidden;
    z-index: 1000;

    header {
      justify-items: center;
      align-items: center;
      grid-template-columns: 50px auto 50px;
      border-bottom: 1px solid #e6e6e6;

      span {
        font-weight: bold;
        font-size: 1rem;
      }

      i {
        font-size: 2rem;
        cursor: pointer;
      }
    }

    div.reply-list-container {
      overflow: hidden auto;
      align-content: flex-start;

      div.reply-list {
        min-height: 60px;
        padding: 5px 15px;
        grid-template-columns: 50px auto 50px;
        justify-items: center;
        align-items: center;

        div.profile-image {
          justify-self: center;
          align-items: center;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 1px solid #f0f0f0;
          overflow: hidden;
          img {
            width: 100%;
          }

          div.empty-profile-image {
            width: 40px;
            height: 40px;
            border: 1px solid #f0f0f0;
            border-radius: 50%;
          }
        }

        div.comment-container {
          display: inline-block;
          justify-self: baseline;
          margin-left: 10px;

          span.username {
            font-size: 1rem;
            font-weight: 600;
          }

          span.comment {
            padding-left: 10px;
            font-size: 0.8rem;
          }
        }

        div.delete-container {
          i {
            cursor: pointer;

            &:hover {
              color: #eb2f06;
            }
          }
        }
      }
    }

    div.reply {
      grid-template-columns: 85% 15%;
      border-top: 1px solid #e6e6e6;
      height: 50px;

      div.input-form {
        input {
          padding: 15px;
          border: 0px solid white;
          &:focus {
            outline: 0;
          }
        }
      }

      .button-form {
        button {
          font-size: 1rem;
          font-weight: bolder;
          background-color: white;
          border: 0px solid white;
          cursor: pointer;

          &:focus {
            outline: 0;
          }

          &:hover {
            color: rgb(212, 212, 212);
          }
        }
      }
    } //reply
  }
}
