@import './profileForm.scss', './logoutForm.scss', './passwordForm.scss';

main#Setting-form {
  width: 600px;
  justify-self: center;

  div.set-container {
    margin-top: 50px;
    justify-items: center;
    grid-template-columns: 150px 450px;
    border: 1px solid #b4b4b4;
    border-radius: 10px;
    overflow: hidden;

    div.set-list-container {
      width: 100%;
      div.set-list {
        justify-items: center;
        align-items: center;
        width: 100%;
        height: 50px;
        padding: 10px 15px;
        background-color: #fff;
        border-bottom: 1px solid #b4b4b4;
        border-right: 1px solid #b4b4b4;
        font-size: 0.8rem;
        cursor: pointer;

        &:hover {
          background-color: #f0f0f0;
          font-weight: bold;
        }

        &:last-child {
          border-bottom: none;
        }
      }
      div.set-target {
        overflow: hidden;
        color: #000;
        line-height: 0;

        transition: all 0.5s ease-in-out;
      }

      div.set-target.active {
        line-height: 1.5;
      }
    }

    div.set-item-container {
      width: 100%;
      background-color: #fff;
    }
  }
}
